doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li #[a(href="/users") Users]
          if (currentUser)
            if (!currentUser.membership)
              li #[a(href="/join-club") Join the Club]
            form(action="/sign-out" method="POST")
              button(type="submit") Sign Out
            li #[a(href=currentUser.url)= currentUser.username]
            li #[a(href="/message/create") Create a new message]
          else
            li #[a(href="/sign-up") Sign Up]
            li #[a(href="/sign-in") Sign In]
    main
      block content
    footer
      p Axel C. Lopez @Copyright 2022 
        a(href="https://github.com/lopezac") GitHub
          //- img(class="icon" src="/icons/github.png" alt="GitHub")