extends layouts/layout

block content
  h1= title
  if msg && currentUser && currentUser._id.toString() == msg.user._id.toString()
    form(action="" method="POST")
      label(for="title") Title
      input(type="text" id="title" name="title" minLength="3" maxLength="200"
        required value=msg && msg.title)

      label(for="text") Text
      textarea(id="text" name="text" minLength="10" maxLength="500" required
        rows="7" cols="60")= msg ? msg.text : ""

      button(type="submit") Submit
  else
    p You must be signed in, and be the message author to update it.

  if errors
    ul
      each error in errors
        li= error.msg