extends layouts/layout

block content
  -const isUserMsg = () => currentUser && msg.user._id.toString() == currentUser._id.toString();
  -const isAdmin = () => currentUser && currentUser.isAdmin;
  h1= title
  if isUserMsg() || isAdmin()
    form(action="" method="POST" class="fill-form")
      div(class="form-row")
        label(for="title") Title
        input(type="text" id="title" name="title" minLength="3" maxLength="200"
          required value=msg && msg.title)

      div(class="form-row")
        label(for="text") Text
        textarea(id="text" name="text" minLength="10" maxLength="1250" required
          rows="7" cols="60")= msg ? msg.text : ""

      button(type="submit" class="btn-send") Submit
  else
    p You must be signed in, and be the message author to update it.

  if errors
    ul
      each error in errors
        li= error.msg