extends layouts/layout

block content
  h1 Delete #{user.username} account
  if !currentUser || (currentUser && currentUser._id.toString() !== user._id.toString())
    p You need to be the account owner to delete the account.
    
  else if messages.length
    p If you wanna delete your account, you need first to delete these messages
    div(class="users-list")
      each message in messages
        ul(class="msg-detail")
          li= message.timestampShort
          li
            a(href=message.url)= message.title
  else
    p Are you sure you wanna delete your account?. There is no comeback.
    form(action="" method="POST")
      button(type="submit" class="btn-delete") Delete

  if errors
    ul
      each error in errors
        li= error.msg