$black: #18181b;
$lightBlack: #27272a;
$white: #fafafa;
$lightWhite: #d4d4d8;
$pink: #973e4a;
$darkPink: #77323c;
$blue: #a4dffa;
$darkBlue: #85b5cc;

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "NotoSerif-Regular";
  src: url("../../../fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "NotoSerif-Bold";
  src: url("../../../fonts/NotoSerif-Bold.ttf");
}
