@use "../components/container";

.person-detail {
  @extend %row-align-center;
  justify-content: space-between;
}

.person-info {
  @extend %row-align-center;

  h1,
  p {
    margin: 0;
  }
}

.detail h1 {
  text-align: start;
}
