@use "../base/variables" as *;
@use "../components/container";

.messages {
  @extend %flex-column;
  gap: 20px;
}

.message {
  border-radius: 5px;
  border: 1px solid $white;
  padding: 10px;

  p {
    color: #f4f4f5;
  }
}

.message li,
.users-list li {
  color: $lightWhite;
  font-size: 0.9rem;

  & a:hover,
  & a:focus {
    text-decoration: underline;
  }
}

.msg-detail {
  @extend %flex;
  column-gap: 20px;
  list-style-type: disc;

  li:nth-child(1) {
    list-style-type: none;
  }
}
