@use "../components/container";
@use "../base/variables" as *;

.topHeader {
  background-color: $pink;
  font-size: 1.1rem;
  border-bottom: 1px solid $white;

  nav {
    padding: 0px 10px;
    height: 63px;
  }

  a {
    &:hover,
    &:focus {
      background-color: $darkPink;
    }
    padding: 5px;
    border-radius: 5px;
  }
}

.topHeader nav,
.topHeader nav ul {
  @extend %row-align-center;
}

.topHeader nav .right-ul {
  margin-left: auto;
}
