@use "../base/variables" as *;
@use "../components/container";

%button {
  border: none;
  background-color: $blue;
  color: $black;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover,
  &:focus {
    background-color: $darkBlue;
    cursor: pointer;
  }
}

%button-delete {
  @extend %button;
  background-color: $pink;
  color: $white;
  padding: 10px 12px;

  &:hover,
  &:focus {
    background-color: $darkPink;
  }
}

a.btn-sign,
button.btn-sign {
  @extend %button;
}

a.btn-delete,
button.btn-delete {
  @extend %button-delete;
}

a.btn-send,
button.btn-send {
  @extend %button-delete;
  font-size: 1.3rem;
}

.buttons {
  @extend %row-align-center;
}
