%flex {
  display: flex;
  gap: 10px;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%row-justify-center {
  @extend %flex;
  justify-content: center;
}

%row-align-center {
  @extend %flex;
  align-items: center;
}

%column-align-center {
  @extend %flex-column;
  align-items: center;
}

%row-center {
  @extend %row-justify-center;
  @extend %row-align-center;
}
